h1.app-name= title

<div id="intro" class="section">
h2 Node.js&ndash;powered flash cards

- var _fc='http://en.wikipedia.org/wiki/Flashcard';
<div class="content">
p
  | #{title} is a simple node.js <a href="#{_fc}">flashcard</a> utility to help
  | you study. Open sourced and super webscale, #{title} uses the latest <em
  | title="coined by @robbiethegeek">hottness</em>, writing to /dev/null
  | whenever possible. Below is a summary of planned features and APIs.

</div><!--content-->
</div><!--section-->

<div id="stacks" class="section">

h2 Stacks
<div class="content">

p
 | Choose a stack of cards below to study, edit, review or
 | <a href="/stack/">create a new stack</a>.

ul#stack-listing
  li
   | <a href="/stack/new" title="create new stack">
   | <span class="note quantity">(+)</span>
   |<span class="stack-name">New</span>
   |Create a new stack of cards.
   | </a>
  - each stack in stacks
    li
     | <a title="#{stack.qty} '#{stack._id}' cards"
     | href="/stack/#{stack._id}">
     | <span class="note quantity">(#{stack.qty})</span>
     | <span class="stack-name">#{stack._id}:</span>
     | #{stack.description}
     | </a>
   <div class="clearfix"></div>

</div><!--content-->
</div><!--section-->

<div id="api" class="section">
h2.collapsable API Structure

<div class="content">

- var rest_uri = 'http://en.wikipedia.org/wiki/Representational_State_Transfer#RESTful_web_services';
- var rest_txt = 'REpresentational State Transfer';

p
  | Below is a list of simple <a href="#{rest_uri}" title="#{rest_txt}">RESTful</a>
  | paths based on basic terminology like, "stack" and "card".

dl.tech
  dt /
  dd Simple app intro; teaser at top: list available stacks of flash cards.

  dt /export/xml
  dd
    | :re: /export/<br />
    |  Provide XML export of all stacks and their data

  dt /export/json
  dd Provide JSON export of all stacks and their data

  dt /stack/new
  dd
    | :re: /stack/<br />
    | Create a new stack of flash cards.
  dt /stack/[name]
  dd Show contents of a stack, named [name]

  dt /stack/[name]/study
  dd
    | Review cards with study algorithms to teach you and keep track
    | of what you do/don't seem to know.

  dt /stack/[name]/export/xml
  dd
    | :re: /stack/[name]/export<br />
    | Provide XML export of [name] stack and its data

  dt /stack/[name]/export/json
  dd Provide JSON export of [name] stack and its data

  dt /stack/[name]/edit
  dd Edit (re-order, show edit-links to) flash cards in stack [name].

  dt /stack/[name]/delete
  dd Delete the entire [name] stack of flash cards.

  dt /stack/[name]/card/new
  dd
    | :re: /stack/[name]/card<br />
    | Create a new flash card on the stack [name].

  dt /card/[id]
  dd Show contents of flash card number [id] in stack [name].

  dt /card/[id]/edit
  dd Edit contents of flash card number [id] in stack [name].

  dt /card/[id]/delete
  dd Delete flash card number [id] in stack [name].

div.note
    p
      | Note: "<strong>:re: /other-url/</strong>" means a given URL is redirected
      | to, from <strong>/other-url/</strong>

</div><!--content-->
</div><!--section-->

