h1= title

p This is a development page showing the features and APIs as I plan build them.
dl.tech
    dd /
    dt List available stacks of flash cards.

    dd /stack/
    dt Create a new stack of flash cards.

    dd /stack/:name
    dt List cards in a given stack who's slug is :name

    dd /stack/:name/card/
    dt Create a new flash card in this stack.

    dd /stack/:name/card/:id
    dt view a given card in a stack

h2 Stacks
p Choose a stack of cards below to study, edit, review.

ul#stacks
  - each stack in stacks
    li <a href="/stack/#{stack.name}">#{stack.name}</a> - #{stack.info} (#{stack.cards.length})
