h1= title

p This is a development page showing the features and APIs as I plan build them.

h2 API Structure

- var rest_uri = 'http://en.wikipedia.org/wiki/Representational_State_Transfer#RESTful_web_services';
- var rest_txt = 'REpresentational State Transfer';

p
  | Below is a list of simple <a href="#{rest_uri}" title="#{rest_txt}">RESTful</a>
  | paths based on basic terminology like, "stack" and "card".

dl.tech
    dt /
    dd List all available stacks of flash cards.

    dt /api/
    dd
      | Returns JSON. Receives POST of JSON object parameters to invoke any
      | given aspect of the application.

    dt /stack/[name]
    dd Show contents of a stack, who's slug is [name]

    dt /stack/[name]/card/
    dd Create a new flash card in a given stack.

    dt /stack/[name]/card/[id]
    dd Show contents of a flash card in a given stack.

h2 Stacks
p
 | Choose a stack of cards below to study, edit, review or
 | <a href="/stack/">create a new stack</a>.

ul#stacks
  - each stack in stacks
    li <a href="/stack/#{stack.name}">#{stack.name}</a> - #{stack.info} (#{stack.cards.length})
